table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    display: inline-flex;
    width: 100%;
}

div{
    border: 10px solid #687291;
    padding: 20px;
}


table,th,td{
    padding: 3px;
}

tr>th:nth-child(-n+1) {text-align:left;}
tr>td:nth-child(-n+1) {text-align:left;}
td{text-align: center;}

tbody> td{padding: 8px;}

